@font-face { 
    font-family: "RoadRadioBold";
    src: url("../fonts/RoadRadioBold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: 'RoadRadioBold';
    font-size:46px;
    line-height: 100%;
    font-weight: 400;
}

h2{
    font-family: 'RoadRadioBold';
    font-size:36px;
    line-height: 110%;
    font-weight: 400;
}

h4{
    font-family: 'RoadRadioBold';
    font-size:26px;
    line-height: 120%;
    font-weight: 400;
}

