/* header */
@media screen and (min-width:768px) {
    

header{
    width: 1290px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top:13px ;
    margin-bottom:15px ;
    align-items: center;
}

.menu{
    width: 32px;
    margin-right: 59px;
    padding: 0;
}

.nav-items{
    display: flex;
    width: 408px;
    justify-content: space-between;
    margin-right: 93px;
    padding: 0;
}

.logo{
    width: 106px;
    margin-right: 100px;
}

.comparison{
    margin-right: 23px;
    padding: 0;
}

.search{
    margin-right: 58px;
    padding: 0;
}

/* main */

.way-text{
    display: flex;
    justify-content: space-between;
    width: 131px;

}

.information-quetions{
    width: 1290px;
    display: grid;
    grid-template-columns: 607px 630px;
    gap: 53px;
    margin:0 auto;
    margin-top: 62px;
    margin-bottom: 66px;
}

.information-items{
    margin: 0;
    padding: 0;
}

.information-item h2{
    margin: 0;
}

.information-item:nth-child(2){
    margin-bottom:20px;
}

.information-item:nth-child(3){
    margin-bottom:15px;
}

.information-requisites{
    list-style: none;
    margin: 0;
    padding: 0;
}

.quetions > h2{
    margin: 0;
    margin-bottom: 36px;
}

.input-field{
    margin-bottom: 28px;
}

.input-field-name{
    margin-right: 25px;
}

.input-field-message{
    margin-bottom: 20px;
}

.map{
    margin-bottom: 81px;
}

.contact-cities{
    width: 1290px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 30px;
    margin-bottom: 100px;
}

.Contact-Novovsibirsk{
    grid-column: span 2;
}

.contact-cite > h4{
    margin: 0;
    margin-bottom: 15px;
}

.contact-cite > a{
    display: block;
}

.Contact-Novovsibirsk > a{
    display: inline;
}

.contact-fax > p{
    display: inline;
}

.adress{
    margin-top: 10px;
    margin-bottom: 10px;
}

.route-cite{
    margin-bottom: 60px;
}

.route-cite_1{
    margin-bottom: 20px;
}

.Operating-mode{
    margin-top: 0;
    margin-bottom: 40px;
}

footer{
    background-color: #222225;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-nav-items{
    padding: 0;
    width: 331px;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 69px;
}

.main-nav-item{
    margin-bottom: 10px;
}

.main-nav-item:last-child{
    margin-bottom: 0;
}

.second-nav-items{
    padding: 0;
    width: 488px;
    margin: 0;
    margin-left:315px;
    display: flex;
    justify-content: start;
    column-gap:21px;
    flex-wrap: wrap;
    margin-bottom: 43px;
}

.footer-line{
    border-bottom: 1px solid white;
    opacity: 5%;
}

.copyright{
    margin: 0;
    margin-left: 315px;
    margin-top: 23px;
    margin-bottom: 31px;
}

.contact-footer-info-tel{
    width: 269px;
    display: flex;
    flex-direction: column;
}

.contact-footer-info-tel > a{
    margin-bottom: 10px;
}

.contact-footer-info-tel > a:last-child{
    margin-bottom:0;
    margin-top: 10px;
}

.contact-footer-info{
    display: flex;
    gap: 61px;
    margin-top: 63px;
    margin-left: 127px;
    margin-bottom: 97px;
}

.contact-footer-adress{
    width: 447px;
    margin-top: 0;
    margin-left: 128px;
    margin-bottom: 55px;
}
.contact-footer-developer{
    margin: 0;
    margin-left: 127px;
    margin-top: 21px;
    margin-bottom: 33px;
}

}